@model IEnumerable<NatureShopWeb.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->



<!--@foreach (var item in Model)
{
    <p> @item.Product.ProductId</p>
    <p> @item.Product.ProductName</p>
    <p> @item.Product.ProductType</p>
    <p> @item.Product.Detail</p>
    <p> @item.Product.InStock</p>
    <p> @item.Product.Price</p>
    <p> @item.Product.Discount</p>
    <p> @item.Product.Image</p>
    <p> @item.Product.BestSeller</p>
    <p> @item.CurrencySymbol</p>
    <p> @item.IsInStock</p>
    <p> @item.SalePrice</p>
}-->

<!--new-arrivals start -->
<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="section-header">
            <h2>Products</h2>
        </div><!--/.section-header-->
        <div class="new-arrivals-content">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-4">
                        <div class="single-new-arrival">
                            <div class="single-new-arrival-bg">
                                <img src="@Url.Content("~/images/" + item.Product.Image)" alt="new-arrivals images" width="100" height="100">
                                <div class="single-new-arrival-bg-overlay"></div>
                                
                                @if (item.Product.Discount > 0)
                                {
                                <div class="sale bg-1">
                                    <p>sale</p>
                                </div>
                                }
                                
                                <div class="new-arrival-cart">
                                    <p>
                                        <span class="lnr lnr-cart"></span>
                                        <a href="#">add <span>to </span> cart</a>
                                    </p>
                                </div>
                            </div>
                            <h4><a href="#">@item.Product.ProductName</a></h4>
                            <p class="arrival-product-price">@item.Product.Price @item.CurrencySymbol </p>
                        </div>
                    </div>
                }
                    
                </div>
        </div>
    </div><!--/.container-->

</section><!--/.new-arrivals-->
<!--new-arrivals end -->
